<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/login-style.css}" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" defer></script>
</head>

<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="login-box">

                <h2 class="login-title">Login</h2>

                <!-- Success message -->
                <div class="text-success mb-3 text-center" th:if="${logoutMsg}">
                    <p th:text="${logoutMsg}"></p>
                </div>

                <!-- Dismissible error alert -->
                <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show " role="alert">
                    <span th:text="${errorMessage}">Invalid username or password</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

                <!-- Login Form -->
                <form id="loginForm" th:action="@{/login}" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>

                        <input type="text" name="username" class="form-control rounded-1" id="username" placeholder="Username">
                        <div class="text-danger text-error fw-medium" id="usernameError"></div>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>

                        <input type="password" name="password" class="form-control rounded-1" id="password"
                               placeholder="Password">
                        <div class="text-danger text-error fw-medium" id="passwordError"></div>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-login rounded-1">Login</button>
                    </div>
                </form>

                <!-- Create Account Link -->
                <div class="create-account">
                    <span>New user?</span> <a th:href="@{/register}">Create an account</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/login.js}"></script>

</body>

</html>